.header {
  width: 1289px;
  background-color: #f1f1f1;
  height: 69px;

  display: flex; /* Añadido */
  align-items: center; /* Añadido */
  gap: -px; /* Añadido */
  margin-left: -10px; /* Añadido */
  justify-content: flex-end; /* Mueve los elementos a la derecha */
}

.logo {
  width: 134px;
  height: 27px;
  margin: 21px 0 21px 20px;
  margin-right: 270px;
}

.header a {
  font-family: poppins;
  transition: all 0.3s ease;
  font-size: 14px;
  margin-top: 21px;
  color: #222222;
  text-decoration: none; /* Añadido */
  padding: 0 12px; /* Añadido */
  margin: 0; /* Eliminado margin-top negativo */
  margin-right: 30px;
  height: 30px;
  border-radius: 9px;
  display: flex; /* Añadido */
  align-items: center; /* Añadido */
  justify-content: center;
  font-weight: 500;
}

.header a:hover,
.header a.active,
.header a:active {
  background-color: #222222;
  color: #ffffff;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.text {
  color: #222222;
  background-color: #f1f1f1;
  width: 310px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  font-weight: 500;
  font-size: 14px;
  border-radius: 23px;
  margin-top: 70px;
  margin-left: 140px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.container {
  display: flex;
  justify-content: center;
}

.image {
  width: 360px;
  height: auto;
  margin-right: 100px;
  margin-top: -100px;
}

.image2 {
  width: 350px;
  height: auto;
  margin-top: 60px;
  margin-right: 100px;
}
